{
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILT_IN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/shared/images/.*$",
    "",
    "^@/.*$",
    "",
    "^(?!.*[.]s?css$)[./].*$",
    "",
    ".s?css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
