.flights {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__table {
    margin-top: 35px;
    margin-bottom: 50px;
    background-color: white;
    height: 100%;
    width: 1090px;
    border-top-right-radius: 42px;
    border-top-left-radius: 42px;
  }

  &__date {
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 27px 30px;
  }

  &__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    padding-right: 8px;

    & p {
      font-size: 18px;
      font-weight: bold;
      height: 48px;
      color: #8d8d8d;
      text-align: center;
      width: 10%;

      &:nth-child(4),
      &:nth-child(5) {
        width: 20%;
      }
    }
  }

  &__buttons {
    background-color: #1eb7ee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    border-top-right-radius: 42px;
    border-top-left-radius: 42px;
    margin-bottom: 11px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 58px;
    width: 50%;
    font-size: 20px;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    text-decoration: none;
    background-color: transparent;
    color: white;

    .fa-sharp {
      color: white;
    }

    &:hover {
      filter: blur(0px);
    }
  }

  &__list-items {
    height: 600px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #d0d0d0;
      border-radius: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background: #1eb7ee;
      border-radius: 12px;
    }
  }

  &__list-item {
    color: #8d8d8d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    &:nth-child(odd) {
      background-color: #b0eaff;
    }

    & span {
      width: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 100%;
      font-size: 19px;

      &:nth-child(1) {
        font-size: 26px;
        font-weight: bolder;
      }

      &:nth-child(4),
      &:nth-child(5) {
        width: 20%;
      }

      & img {
        width: 90px;
        height: 100%;
      }
    }
  }

  &__list-empty {
    text-align: center;
    padding-top: 170px;
    padding-bottom: 170px;
    color: black;
    font-weight: bold;
    font-size: 35px;
  }

  &__terminal {
    border: 2px solid #02ea29;
    color: #02ea29;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flights__button_activeBtn {
  background-color: black;
}

.flights__button_activeBtn {
  color: #50c4ee;
  background-color: white;
  .fa-sharp {
    color: #50c4ee;
  }
}
