.flights-table {
  &-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    padding-right: 8px;
  }
  &-titles p {
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    color: #8d8d8d;
    text-align: center;
    width: 10%;
  }
  &-titles p:nth-child(4) {
    width: 20%;
  }
  &-titles p:nth-child(5) {
    width: 20%;
  }
}
