.flights-table {
  &-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    padding-right: 8px;
  }
  &-titles p {
    font-weight: bold;
    width: 9%;
    height: 68px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    color: #8d8d8d;
    text-align: center;
    border-left: 1px solid #d0d0d0;
  }
  &-titles p:nth-child(1) {
    border-left: none;
    width: 19%;
  }
}
