.footer {
  background-color: #595959;
  color: white;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.container {
  width: 90%;
}
.fa-brands {
  color: white;
  width: 30px;
  height: 30px;
  font-size: 30px;
}
.fa-brands:hover {
  color: #afbdba;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-bottom: 8px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease 0.2s;
    cursor: pointer;
    padding-bottom: 2px;
    display: inline-block;
    width: max-content;
  }

  &__link:hover {
    border-bottom: 1px solid white;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 12px;
  }
}
.footer-contact {
  &__text {
    font-weight: 700;
  }

  &__number {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
  }

  &__main {
    margin-bottom: 15px;
  }

  &__icons {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }
}

.footer-privacy {
  border-top: 1px solid white;
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  color: #afbdba;

  &__logo__white {
    width: 30px;
    height: 30px;
  }

  &__logo__smpl {
    width: 96px;
    height: 19px;
  }

  &__first {
    display: flex;
  }

  &__wrapper {
    font-size: 12px;
    line-height: 18px;
  }

  &__link__img:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__smpl-link:hover {
    text-decoration: underline;
  }
}
.link_flex {
  display: flex;
}
.margin__block {
  margin-right: 140px;
}
