.search-form h1 {
  font-size: 70px;
  transform: scaleY(1.1);
  color: white;
  font-weight: 300;
  padding-top: 65px;
  padding-bottom: 30px;
  text-align: center;
}
.search-form {
  width: 730px;

  &__block {
    display: flex;
    flex-direction: row;
    height: 75px;
  }

  &__input {
    width: 73%;
    border: none;
    padding-left: 65px;
    font-size: 25px;
  }

  &__input::placeholder {
    color: gray;
    font-size: 25px;
  }

  &__input:focus,
  &__input:active {
    outline: 2px solid #1eb7ee;
  }

  &__btn {
    width: 27%;
    color: white;
    background-color: #1eb7ee;
    border-top-right-radius: 75px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__btn:hover {
    border-top-right-radius: 40px;
    transition: all 0.3s ease-in-out;
  }
}
