.flights {
  &-table {
    &-days {
      display: flex;
      flex-direction: row;
    }
    &-dayBtn {
      background-color: white;
      border: none;
      color: #d0d0d0;
      text-decoration: none;
      text-align: center;
      width: 90px;
      font-weight: bolder;
    }
    &-dayBtn p {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      font-size: 15px;
      padding-bottom: 4px;
      border-bottom: #d0d0d0 4px solid;
    }
    &-dayBtn span {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    &-dayBtn input {
      display: none;
    }
  }
}

.flights-table-days input[type='checkbox']:checked + p {
  border-bottom: #1eb7ee 4px solid;
  color: #1eb7ee;
}
